.navLinks {
  font-size: 1.1rem;
  font-weight: 500;
}

.menuIcon {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
  gap: 0.375rem;
}

.menuIcon div {
  width: 1.5rem;
  width: 1.5rem;
  height: 0.125rem;
  border-radius: 1rem;
  background-color: #1f2c3d;
  transition: transform 0.5s ease-in-out;
}

.menuIcon .menu-icon-line-top {
  transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.menuIcon .menu-icon-line-middle {
  width: 1.5rem;
  transform: translate3d(0rem, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  transition: 0.5s !important;
}

.menuIcon .menu-icon-line-bottom {
  transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.menuIcon.open .menu-icon-line-top {
  transform: translate3d(0px, 0.5rem, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(135deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.menuIcon.open .menu-icon-line-middle {
  width: 0rem;
  transform: translate3d(-0.25rem, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  height: 2px;
  /* transition: all 0.5s ease-in 2s !important; */
}

.menuIcon.open .menu-icon-line-bottom {
  transform: translate3d(0px, -0.5rem, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(-135deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.menuopen.active{
  /* box-shadow: 4px 10px 4px rgba(128, 128, 128, 0.436); */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  background-color: #efeff4;
}

.menuopen ul li {
  padding: 0px 0px;
  opacity: 0;
  transition: all 0.4s ease-in;
  transition-delay: 0.3s;
}

.menuopen.active ul li {
  padding: 0.5rem 1.25rem;
  opacity: 1;
}
